  body {
      margin: 0;
  }

  .img1 {
      background-image: url("../../images/image1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  .img2 {
      background-image: url("../../images/image2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
  }

  .img3 {
      background-image: url("../../images/image3.jpg");
        background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  .img4 {
      background-image: url("../../images/image4.jpg");
        background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  .img5 {
      background-image: url("../../images/image5.jpg");
        background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  .img6 {
      background-image: url("../../images/image6.jpg");
        background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
  }

  .home {
      background-color: white;
      height: 1000px;
  }
